:root {
    /*Primary*/
    --dark-violet: hsl(256, 26%, 20%);
    --grayish-blue: hsl(216, 30%, 68%);
    /*Neutral*/
    --very-dark-voilet: hsl(270, 9%, 17%);
    --dark-grayish-violet: hsl(273, 4%, 51%);
    --very-light-gray: hsl(0, 0%, 98%);
}

@font-face {
    font-family: 'DM_Serif_Display';
    src: url(./fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf);
}

html {
    /* color-scheme: dark light; */
}

body {
    display: grid;
    height: 100svh;
    width: 100svw;
    margin: 0;
    container: body / inline-size;
    font-family: 'DM_Serif_Display';
}

main {
    display: grid;
    height: 100cqh;
    width: 100cqw;
}

header {
    display: grid;
    place-items: center;
    height: 150px;
    width: 100%;
}

section[class="insure-card"] {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr auto 1fr;
    box-sizing: border-box;
    padding: 5% 10%;
    gap: 20px;
    height: 100%;
    color: var(--dark-grayish-violet);
}

span {
    border: 0;
    border-bottom: 1px solid var(--dark-violet);
    width: 140px;
    grid-column: span 2;
    grid-row: 1;
}

section[class="title"] {
    grid-column: 1 /-1;
    grid-row: 2;
    font-size: 3.5em;
    width: 70%;
    margin: 0;
    color: var(--very-dark-voilet);
}

section[class="feature"] {
    grid-row: 3;
    display: grid;
    row-gap: 20px;
    height: 100%;
    margin-bottom: 100px;
}

section[class="feature"] svg {
    width: 70px;
    height: 70px;
}

section[class="feature-title"] {
    font-size: 2em;
    color: var(--very-dark-voilet);

}

section[class="feature-description"] {}

section[class="more-info"] {
    grid-column: span 3;
    grid-row: 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--very-dark-voilet);
    align-items: center;
    height: 300px;
    box-sizing: border-box;
    padding: 50px;
    position: relative;
}

section[class="more-info-text"] {
    font-size: 3.5em;
    color: var(--very-light-gray);
}

button {
    width: 150px;
    height: 50px;
    justify-self: end;
    color: var(--very-light-gray);
    background-color: var(--very-dark-voilet);
    border: 2px solid var(--very-light-gray);
    font-weight: 700;
    cursor: pointer;
}
button:hover {
    color: var(--very-dark-voilet);
    background-color: var(--very-light-gray);
}
img {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}

img[class="bg-pattern-how-we-work-mobile"]{
    display: none;
}
@container(inline-size < 1000px) {

    span,
    section[class="title"],
    section[class="feature"],
    section[class="more-info"]  {
        grid-column: unset;
        grid-row: unset;
    }

    section[class="title"] {
        width: 100%;
        font-size: 2.5em;
        text-align: center;
    }

    section[class="insure-card"] {
        grid-template-columns: 1fr;
        grid-auto-rows: 1fr;
        box-sizing: border-box;
        padding: 50px;
        place-items: center;
    }

    section[class="feature"] {
        place-items: center;
        text-align: center;
    }
    section[class="more-info"] {
        grid-template-columns: 1fr;
        row-gap: 20px;
        background-color: var(--very-dark-voilet);
        height: auto;
        padding: 20px;
        text-align: center;
    }
    section[class="more-info-text"] {
        font-size: 2em;
    }
    button{
        place-self: center;
    }

    img[class="bg-pattern-how-we-work-desktop"]{
        display: none;
    }
    img[class="bg-pattern-how-we-work-mobile"]{
        display: grid;
    }
}