:root {
    /*Primary*/
    --dark-violet: hsl(256, 26%, 20%);
    --grayish-blue: hsl(216, 30%, 68%);
    /*Neutral*/
    --very-dark-voilet: hsl(270, 9%, 17%);
    --dark-grayish-violet: hsl(273, 4%, 51%);
    --very-light-gray: hsl(0, 0%, 98%);
}

@font-face {
    font-family: 'DM_Serif_Display';
    src: url(./fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf);
}

body {
    display: grid;
    height: 100svh;
    max-width: 100svw;
    margin: 0;
    container: body / inline-size;
    font-family: 'DM_Serif_Display';
}

main {
    display: grid;
    height: 100cqh;
    width: 100cqw;
}

header {
    display: grid;
    place-items: center;
    height: 150px;
    width: 100%;
}
